button#btnBQ {
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 1000;
  height: 40px;
  width: 40px;
  background-color: turquoise;
  border: 2px solid black;
  border-radius: 20px;
  animation-name: stretch;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

#btnBQ:hover {
  transform: scale (1.1);
  background-color: teal;
  animation-name: none;
  border-color: gray;
  cursor: pointer;
}

#btnBQ[listening]{
    animation-name: fast-stretch;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
  
}


#btnBQ[listening]{
    animation-name: fast-stretch;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
    background-color: turquoise;
    border-color: black;
    transform: scale(1);
    }
    90%{
    background-color: turquoise;
    border-color: black;
    transform:scale(1);
    }

    100% {
    background-color: teal;
    border-color: gray;
    transform:scale(1.5);
    }
}

@keyframes fast-stretch {
    0% {
      background-color: turquoise;
      border-color: black;
      transform:scale(1);
    }
    100% {
      background-color: Oteal;
      border-color: gray;
      transform: scale (1.2);
    }
}
